# Автоматически определять текстовые файлы и нормализовывать их
* text=auto

# Для всех текстовых файлов принудительно использовать LF в репозитории и в рабочей копии
* text eol=lf

# Примеры для явного указания бинарных файлов (их не нужно трогать)
*.png binary
*.jpg binary
*.ico binary
