# Игнорировать файлы конфигурации
eslint.config.js
eslint.config.ts
package.json
package-lock.json
tsconfig.json
vite.config.ts
README.md

# Игнорировать папки
.husky/
node_modules/
dist/
docs/
development-notes/
