@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.ticket-page {
  position: relative;

  @include flex-column;

  width: 100%;
  background-color: $color-primary;
  background-image:
    linear-gradient(rgb(148 163 184 / 60%) 1px, transparent 1px),
    linear-gradient(90deg, rgb(148 163 184 / 60%) 1px, transparent 1px);
  background-size: 35px 35px;
  overflow-x: hidden;

  &::before,
  &::after {
    position: absolute;
    right: 0;
    left: 0;
    height: 50px;
    content: '';
    pointer-events: none;
    z-index: 1;
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, $color-primary, transparent);
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, $color-primary, transparent);
  }
}

.task-wrapper {
  @include flex-center;

  position: relative;
  padding: $spacing-md;
  gap: $spacing-sm;
  z-index: 2;
}

.task-counter {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.segments-container {
  display: flex;
  height: $spacing-sm;
  margin-left: $spacing-sm;
  gap: $spacing-xs;
}

.task-segment {
  width: 40px;
  background-color: $color-primary-dark;
  transition: background-color $transition-speed;

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  &.active {
    background-color: $color-secondary;
  }
}

.widget-wrapper {
  @include flex-center;

  position: relative;
  padding: $spacing-sm;
  gap: $spacing-md;
  z-index: 2;
  flex: 1;
}

.current-wrapper {
  @include flex-center;

  padding: $spacing-md;
  height: 100%;
  background: rgb(255 255 255 / 8%);
  border: 1px solid rgb(255 255 255 / 35%);
  flex: 1;
  backdrop-filter: blur(20px);
  border-radius: 22px;
  box-shadow:
    0 10px 10px rgb(0 0 0 / 30%),
    inset 0 0 20px rgb(255 255 255 / 10%);
}

.arrow-button {
  padding: 0;
  color: currentcolor;
  background: none;
  border: none;
  transition:
    opacity $transition-speed,
    color $transition-speed;
  cursor: pointer;

  &:hover {
    color: $color-secondary;
    opacity: 0.7;
  }

  &:disabled {
    color: transparent;
    cursor: default;
  }
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  fill: currentcolor;
}
