// Flex container
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Media query
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (width <= 600px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (width <= 900px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (width >= 901px) {
      @content;
    }
  }
}
