@use 'sass:color';
@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-primary);
  background-color: var(--color-primary);

  --header-scale: 1;

  @media (width <= 768px) {
    --header-scale: 0.75;
  }

  @media (width <= 480px) {
    --header-scale: 0.6;
  }

  .icon-button__container {
    --round-button-size: calc(40px * var(--header-scale));
  }
}

.header-app-image {
  width: calc(36px * var(--header-scale));
  height: calc(36px * var(--header-scale));
  transition:
    width $transition-speed ease,
    height $transition-speed ease;
}

.header-app-name {
  @include no-select;

  font-weight: 700;
  color: var(--color-header-text);
  font-size: calc(2.5rem * var(--header-scale));
  transition: font-size $transition-speed ease;
}

.header-name-container {
  @include flex-center;

  gap: $spacing-sm;
}

.header-buttons-container {
  display: flex;
  gap: calc($spacing-md * var(--header-scale));
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: $spacing-md $spacing-xl;
  width: 100%;
  max-width: $content-wrapper-width;
}

.app-main {
  position: relative;
  width: 100%;
  flex: 1;
  background-color: var(--color-primary);
  background-image:
    linear-gradient(var(--grid-line-color, rgb(148 163 184 / 60%)) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-line-color, rgb(148 163 184 / 60%)) 1px, transparent 1px);
  background-size: 35px 35px;
  font-size: 2rem;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    right: 0;
    left: 0;
    height: 50px;
    content: '';
    pointer-events: none;
    z-index: 1;
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, var(--color-primary), transparent);
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, var(--color-primary), transparent);
  }
}

.app-content {
  position: relative;
  margin: 0 auto;
  padding: 0 $spacing-md;
  width: 100%;
  height: 100%;
  max-width: $content-wrapper-width;
  z-index: 2;
}

.app-footer {
  @include no-select;

  color: var(--color-text-primary);
  background-color: var(--color-primary);
  text-align: center;
}

.footer-content {
  margin: 0 auto;
  padding: $spacing-md;
  width: 100%;
  max-width: $content-wrapper-width;
}
