.graph-object {
  cursor: pointer;
  transition: filter 0.2s;

  .object-rect {
    fill: #60a5fa;
    stroke: #60a5fa;
    stroke-width: 2;
  }

  &.root .object-rect {
    fill: #a78bfa;
    stroke: #a78bfa;
  }

  &.marked .object-rect {
    fill: #ffb3b3;
    stroke: #ffb3b3;
  }

  &:hover .object-rect {
    filter: brightness(0.9);
  }
}

.graph-object__label-root {
  font-weight: bold;
  font-size: 24px;
}

.graph-object__label-second {
  font-weight: bold;
}

.graph-link {
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  marker-end: url('#arrowhead');
  fill: none;
}

.root-link {
  stroke-dasharray: 5, 5;
}
