@use '@/styles/variables' as *;

pre[class*='language-'],
code[class*='language-'] {
  box-sizing: border-box;
}

pre.memory-game__code {
  flex: 1;
  margin: 0;
  background: $color-background;
  border-radius: $border-radius-lg;
  line-height: 1.5;
  padding-left: 3.5em;
  box-sizing: border-box;
}

pre[class*='language-'] .line-numbers-rows {
  line-height: 1.5;
  overflow: visible;
  box-sizing: border-box;
  max-height: fit-content;
}

pre[class*='language-'] .line-highlight {
  margin-top: 0;
  line-height: 1.5;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
  border-left: 3px solid white;

  &::before {
    content: none;
    display: none;
  }
}
