@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.widget-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.widget-header__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  color: white;
  cursor: default;
}

.widget-header__difficulty {
  @include flex-center;
  @include no-select;

  padding: $spacing-xs;
  color: white;
  border: 1px solid var(--difficulty-border);
  min-width: 70px;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--difficulty-bg);
  border-radius: $border-radius;
  cursor: default;

  &-easy {
    color: var(--difficulty-easy);
  }

  &-medium {
    color: var(--difficulty-medium);
  }

  &-hard {
    color: var(--difficulty-hard);
  }
}

.widget-header__left {
  @include flex-center;

  gap: $spacing-md;
}

.widget-header__dots {
  @include flex-center;

  gap: $spacing-xs;
}

.widget-header__dot {
  @include flex-center;

  transition: transform $transition-speed;

  &:hover {
    transform: scale(1.3);
  }
}

.dot-easy {
  fill: var(--difficulty-easy);
}

.dot-medium {
  fill: var(--difficulty-medium);
}

.dot-hard {
  fill: var(--difficulty-hard);
}
